@use 'variables';

.main-footer {
    background-color: variables.$dark-obsidian;
    color: variables.$white;
    padding: 6rem 2rem;
    text-align: center;
    margin-top: 3rem;

    .footer-logo {
        font-family: variables.$font-header;
        font-size: 2rem;
        letter-spacing: 8px;
        margin-bottom: 2rem;
        color: variables.$primary-gold;
    }

    p {
        font-size: 0.8rem;
        letter-spacing: 2px;
        color: variables.$text-muted;
    }
}
